*{
    margin:0;
    padding:0;
}

body{
    margin:0;
    font-family: Arial, "Helvetica Neue",Helvetica, sans-serif;
    font-size:17px;
    color: #ffffff;
    line-height:1.6;
}
    #newcareer{
        background-image:url("../images/img.jpg");
        background-size:cover;
        background-position: center;
        height:100vh;
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        text-align: center;
        padding:0 20px;

    }

    #newcareer  h1{
        font-size:50px;
        line-height: 1.2;
    }
    #newcareer p{
        font-size:20px;
    }

    #newcareer .button{
        font-size:18px;
        text-decoration:none;
        color: #08ecec;
        border: #08ecec 1px solid;
        padding: 10px 20px;
        border-radius: 10px;
        margin-top: 20px;
    }

    #newcareer .button:hover{
        background: #0bc2c231;
        color: #fff;
    }

    #section-a{
        padding: 20px;
        background: #015964 ;
        color: rgb(255, 255, 255);
        text-align:justify ;
    }


    #section-b{
        padding: 20px;
        background: #fff;
        color: rgb(0, 0, 0);
        text-align:justify ;
    }


    #section-c{
        display: flex;
    }

    #section-c div{
        padding: 20px;
    }


    #section-c .box-1, #section-c .box-3{
        background: #000000;
        color: #fff;

    }

    #section-c .box-2{
        background: #0aa6bb;
        color: rgb(0, 0, 0);
        

    }
